
*{
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Helvitca, Arial, sans-serif; 
     margin: 0;
}

.header{ 
background-color: gray;
padding: 20px;
text-align: center;
}

.topnav{
overflow: hidden;
background-color: black;
}